
body {
  background-image: linear-gradient(180deg, rgba(116,214, 183,1) 0%, rgba(115,220,198,1) 50%, rgb(16, 73, 62) 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

.header {
background-color: black;
width: 100%;
margin-top: -10px;
height: 600px;
}

img.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.nav {
  background-color: #000000; 
  height: 50px;
  color: #ffffff; 
  font-family: Hill House; 
  font-size: 44px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  margin-top: -60px;
}

.nav li {
  display: inline; 
  padding: 40px; 

}

  
#subheader {
  grid-area: subheader;
  grid-column-start: 3;
  grid-column-end: span 4;
  font-family: Hill House;
  font-size: 40px;
  color: white;
  grid-column-start: 2 span 4;
}


#main{
  display: grid;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px;
  align-items: center;
  position: relative;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  grid-template-columns: 10% 25% 30% 25% 10%;
  grid-template-areas: 
"winona about about"
"subheader subheader subheader"
"dasa dasatitle dasatitle"
"dasa dasadescript dasadescript"
"vtitle vtitle vicinidad"
"vdescript vdescript vicinidad"
}

  
 
  #main #about { 
    grid-area: about;
    grid-column-start: 3;
    grid-column-end: span 4;
    margin-left: 15px;
    font-family: futura PT; 
    font-weight: 350;
    font-size: 22px;
    color: white;
    text-align: left;
    margin-top: 100px;
    height: auto;
  
  }
  #main #winona {
    grid-area: winona;
    grid-column-start: 2;
    align-self: end;
    justify-self: end;
    margin-top: 40px

  }
  
  
  
  #main #subheader {
    grid-area: subheader;
    grid-column-start: 3;
    grid-column-end: span 4;
    font-family: Hill House;
    font-size: 40px;
    color: white;
  }
  
  
  #main #dasatitle{
    grid-area: dasatitle;
    grid-column-start: 4;
    justify-self: start;
    font-family: futura PT;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top: 30px;
  }
  
  #main #dasa{
    grid-area: dasa;
    grid-column-start: 2;
    grid-column-end: span 3;
    
   
  }
  
  #main #dasadescript{
    grid-area: dasadescript;
    grid-column-start: 4;
    align-self: start;
    justify-self: end;
    font-family: futura PT; 
    font-weight: 350;
    font-size: 22px;
    color: white;
  }
  
  
    
  #main  #vicinidad{
    grid-area: vicinidad;
    grid-column-start: 4;
    justify-self: start;  
    margin-right: 10px;
  }

  #main #vtitle{
      grid-area: vtitle;
      grid-column-start: 3;
      justify-self: start;
      align-self: end;
      font-family: futura PT;
      font-weight: 300;
      font-size: 40px;
      text-align: center;
      color: white;
      margin-top: 30px;
    }
  
    #main #geo{
      grid-area: geo;
      grid-column-start: 2;
    }

    #main  #vdescript{
      grid-area: vdescript;
      grid-column-start: 3;
      justify-self: end;
      font-family: futura PT; 
      font-weight: 350;
      font-size: 22px;
      color: white;
    }


    #writing{
      display: grid;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 800px;
      align-items: center;
      position: relative;
      column-gap: 10px;
      row-gap: 10px;
      grid-template-rows: auto auto auto auto auto auto auto auto;
      grid-template-columns: 10% 25% 30% 25% 10%;
      grid-template-areas: 
