
body {
  background-image: linear-gradient(180deg, rgb(132, 245, 209) 0%, rgb(30, 122, 104) 50%, rgb(132, 245, 209) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: cover;
}

.header {
background-color: black;
background-size: cover;
height: 600px;
margin-top: -10px;
display: grid;
grid-template-rows:auto;
grid-template-columns: auto 400px 400px 400px auto;
grid-template-areas: "hex head kat";

}

.header #hex{
  grid-area: hex;
  font-family: deco;
  font-size: 160px;
  color: white;
  grid-row: 1;
  grid-column: 2;
  margin-left: 120px;
  margin-top: 300px;

}

.header #head{
  grid-area: head;
  grid-row: 1;
  grid-column: 3;
  margin-left: 40px;
  margin-top: 100px;
}

.mobileheader{
  display: none;
}

.header #kat{
  grid-area: hex;
  font-family: deco;
  font-size: 160px;
  color: white;
  grid-row: 1;
  grid-column: 4;
  margin-left: 80px;
  margin-top: 300px;
}

.nav {
  background-color: #000000; 
  height: 50px;
  color: #ffffff; 
  font-family: deco; 
  font-size: 44px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  margin-top: -60px;
}

.nav li {
  display: inline; 
  padding: 40px; 

}

  
.subheader {
  text-align: center;;
  font-family: deco;
  font-size: 40px;
  color: black;


}


.main{
  display: grid;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px;
  align-items: center;
  position: relative;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: auto 360px 600px auto;
  grid-template-areas: 
"winona about about"

}

  
 
  .main #about { 
    grid-area: about;
    grid-column-start: 3;
    margin-left: 15px;
    font-family: futura PT light; 
    font-weight: 350;
    font-size: 22px;
    color: white;
    text-align: left;
    margin-top: 100px;
    height: auto;
  
  }
  .main #winona {
    grid-area: winona;
    grid-column-start: 2;
    object-position: right;
    margin-top: 40px;
    box-shadow: 8px 8px rgba(0,0,0);

  }
  
  .mainmobile{
    display: none;
  }
  .button{
    display: none;
  }
  
  #subheader {
    text-align: center;
    font-family: deco;
    font-size: 40px;
    color: rgba();
    margin-top: 100px;
    margin-bottom: 100px;
 
  }

  .projectmobile{
    display: none;
  }
  
  .project{
    display: grid;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    column-gap: 10px;
    row-gap: 30px;
    grid-template-rows: 400px 400px;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-areas: 
  "dasa dasadescript"
  "vdescript vicinidad";

  }

  .project #dasa{
    grid-area: dasa;
    grid-column-start: 2;
    grid-row-start: 1;  
  }

  .project .dasadescript{
    grid-area: dasadescript;
    grid-column-start: 3;
    grid-row: 1;
    margin-left: 10px;
  }

 #dasadescript{
    font-family: futura PT light;
    font-size: 22px;
    font-weight: 350;
    color: white;
  }

  #dasatitle{
    font-family: futura PT book;
    font-size: 36px;
    font-weight: 400;
    color: white;
    text-align: center;
    box-shadow: black 2px 2px;
  }
    

  .project  #vicinidad{
    grid-area: vicinidad;
    grid-column: 3;
    grid-row: 2;
    margin-right: 10px;
  }
  #vtitle{
      font-family: futura PT book;
      font-weight: 400;
      font-size: 40px;
      text-align: center;
      color: white;
      box-shadow: black 2px 2px;

    }

    .project  .vdescript{
      grid-area: vdescript;
      grid-column: 2;
      grid-row: 2;
      justify-self: end;
      font-family: futura PT light; 
      font-weight: 350;
      font-size: 22px;
      color: white;
    }


    .writing{
      display: grid;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 800px;
      align-items: center;
      position: relative;
      column-gap: 50px;
      row-gap: 10px;
      margin-bottom: 100px;
      align-content: start;
      grid-template-rows: 800px;
      grid-template-columns: auto 400px 400px auto;
     grid-template-areas: 
     "alsowrite alsowrite"
     "lpreview strongathletic";
    }

    .writingmobile{
      display: none;
    }

    .writing #lpreview {
      grid-row: 1;
      grid-column:2;
    
    }

    h3{
      font-family: futura PT book;
      font-size: 36px;
      font-weight: 400;
      color: white;
      text-align: center;

    }
    p{
      font-family: futura PT light;
      font-size: 22px;
      font-weight: 350;
      color: white;
      text-align: left;
     
    }

    #omelogo{
    box-shadow:white 5px 5px;
    }

    #samilogo{
      box-shadow: white 5px 5px;
    }

    #ome{
      box-shadow: white 2px 2px;
    }

    #sami{
      box-shadow: white 2px 2px;
    }

    .writing #strongathletic{
      grid-row: 1;
      grid-column: 3;
    }

    a{
      font-family: futura PT light;
      font-size: 18px;
      font-weight: 180;
      color: white;
    }

    footer{
      background-color: black;
      background-size: cover;
      width: 100%;
      height: 450px;
      display: inline-block;
    }

    
 #logosmall{
  margin-top: 50px;
  margin-left: 300px;

  
}

#email{
  margin-right: 20px;
  margin-bottom: 50px;
}

#ig{
  margin-bottom: 50px;
}

@font-face {
  font-family: "deco";
  src: url("../HexKat/fonts/paulistana_deco.ttf");
 
  }

  @font-face{
    font-family: "futura PT book";
    src: url("../HexKat/fonts/FuturaPTBook.otf") format("opentype");
  }

  @font-face{
    font-family: "futura PT light";
    src: url("../HexKat/fonts/FuturaPTlight.otf") format("opentype");
  }









@media only screen and (max-width: 600px){


  .header {
    display: none;    
    }

  .nav {
    display: none;
    }


  .main {
    display:none;
    }


    .project{
      display: none;
    }

    
    .writing{
      display: none;

    }

  .mobileheader{
    display: block;
    background-color: black;
    height: 680px;
    width: 100%;
  }

  .mobileheader #logomobile{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
      
  .mobileheader .mobilenav{
      float: right;
      margin-right: 10px;
   }
     

  

   #mobileme {
    display: block;
    margin-top: 40px;
    box-shadow: 8px 8px rgba(0,0,0);
    margin-left: auto;
    margin-right: auto;

  }

  .mainmobile{
    display: block;
  }

  button{
    background-color: black;
    box-shadow: 5px 5px white;
    color:rgb(132, 245, 209);
    border: 1px white;
    height: 60px;
    width: 200px;
    font-family: deco;
    font-size: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
      
    
    .subheader {
        text-align: center;
        font-family: deco;
        font-size: 40px;
        color: rgba();
        margin-top: 100px;
        margin-bottom: 30px;
     
      }
      

      .projectmobile{
        display: block;
        margin-left: auto;
        margin-right: auto;
    
      }
    
      .project-image{
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
      }

  
        .image-title{
          margin-top: 30px;
          font-size: 36px;
          font-family: futura PT;
          color: white;
          text-align: center;
          margin-bottom: 20px;
        }

        .image-description{
          font-size: 22px;
          font-family: futura PT;
          color: white;
          text-align: center;
        }


        .writingmobile{
          display: block;
        }


        
    footer{
      margin-top: 60px;
      background-color: black;
      background-size: cover;
      width: 100%;
      height: 300px;
      display: inline-block;
    }

    
#logosmall{
  display: none;
}

#email{
  margin-top: 100px;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-left:  30%;

}

#ig{
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 25%;
}



      }